<div id='typeMain'>
  <section>
    <h1 class='typeHeader'>Movies</h1>
    <p class='typeDetails'>46 items</p>
  </section>
  <div id='netflix'>
    <h3>Netflix - My list</h3>
    <!-- *nGFor should be used here. Hard coding the movies to focus on DOM and CSS -->
    <div class='entityControls'>
      <app-entity-control ></app-entity-control>
    </div>
    <div class='entityControls'>
      <app-entity-control ></app-entity-control>
    </div>
  </div>
  <div id='amazon'>
    <h3>Amazon prime - My list</h3>
    <!-- *nGFor should be used here. Hard coding the movies to focus on DOM and CSS -->
    <div class='entityControls'>
      <app-entity-control ></app-entity-control>
    </div>
    <div class='entityControls'>
      <app-entity-control ></app-entity-control>
    </div>
  </div>
</div>